:root{
	--color-pri : #fcdb00;
	--text-pri: #010101;
	--text-sec : #313841;
	--text-ter : #555555;
	--text-quat : #898989;
	--color-white : #fff;
	--color-dark : #000;
	--color-danger : #ff0000;
}

body{
	font-family: "PT Sans", sans-serif;
}

ul{
	list-style: none;
	padding: 0;
}

a:is(:link, :visited){
	text-decoration: none;
}

.px-20{
    padding: 0 2rem;
}

.mb-9{
    margin-bottom: 9rem;
}

.mb-8{
    margin-bottom: 8rem;
}